{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9dfbf66130.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
    {% bootstrap_css %}

</head>
{% block css %}
{% endblock css %}

<body class="bg-black">
    {% if request.user.is_authenticated %}
    <nav class="navbar">
        <div class="nav_logo">
            <i class="m-3 fa-brands fa-shopify"></i>
            <a class="nav_a" href="{% url 'articles:index' %}">RE:hello</a>
        </div>
        <ul class="nav_menu">
            <li><a class="nav_a" href="{% url 'accounts:detail' %}">내 정보</a></li>
            <li> <a class="nav_a" href="{% url 'account:logout'%}">로그아웃</a></li>
        </ul>
    </nav>
    {% else %}
    <nav class="navbar">
        <div class="nav_logo">
            <i class="m-3 fa-brands fa-shopify"></i>
            <a class="nav_a" href="{% url 'articles:index' %}">RE:hello</a>
        </div>
        <ul class="nav_menu">
            <li><a class="nav_a" href="{% url 'accounts:login' %}">로그인</a></li>
            <li> <a class="nav_a" href="{% url 'accounts:signup'%}">회원 가입</a></li>
        </ul>
    </nav>

    {% endif %}
    {% block body %}
    {% endblock body %}
    {% bootstrap_javascript %}
</body>

</html>