{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="m-3 py-3 border border-3">
        <h1 class="d-flex justify-content-center">당신의 <span class="fw-border text-primary">전생</span>은?</h1>
        <div class="d-flex justify-content-center p-2">
            <form action="/pastLife" method="GET">
                이름을 입력해주세요. <input type="text" name="inputname">
                <input type="submit">
            </form>
        </div>    
    </div>
</div>

{% endblock%}