{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block body %}
<div class="my-3 d-flex justify-content-end">
    <a href="{% url 'articles:index' %}">목록으로 돌아가기</a>
</div>
<h1 class="my-5"> {{ article.pk }}번 게시글</h1>
<p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }} | {{ article.updated_at|date:"y-m-d D" }}</p>
<p>{{ article.content }} </p>
<div class="my-3 d-flex justify-content-end">
    <a class="btn btn-link" href="{% url 'articles:update' article.pk %}">수정하기</a>
    <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal">
        삭제
    </a>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">정말 삭제하시겠습니까?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    작성했던 글이 삭제됩니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <a href="{% url 'articles:delete' article.pk %}" class="btn btn-primary">삭제하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}