{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block body%}
<div class="container">
    <div class="my-3 d-flex justify-content-end">
    </div>
    <img class="img-fluid" src="{% static 'images/h2.jpg' %}" alt="할로윈">
    <div class=" my-3 d-flex justify-content-end">
        <a class="btn btn-primary btn btn-sm" href="{% url 'articles:create' %}">작성하기</a>
    </div>
    <div>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>게시글</th>
                    <th>작성일</th>
                    <th>수정일</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
                    <td>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ article.updated_at|date:"y-m-d D" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}