{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block body%}
<div class="container">

    <div class=" my-3 d-flex justify-content-end">
        <a class="" href="{% url 'articles:create' %}">작성하기</a>
    </div>
    <div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for article in articles %}
            <div class="col-3">
                <div class="card">
                    <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}