.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 0;
}


.nav_a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav_menu li {
    padding: 8px 12px;
}

.nav_logo {
    font-size: 24px;
}

.nav_logo i {
    height: 24px;
    color: aquamarine;
}

.card_text {
    margin: 0;
}

.banner_box {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.banner_img {
    background-image: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.like_icon {
    text-decoration: none;
    color: red;
}