{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
<div class="container text-white">
    <div class="my-5">
        <h1 class="text-center"><span class="fw-bold">{{user.username}}</span>님, 환영합니다.</h1>
    </div>
    <dl class="row">
        <dt class="col-sm-3">이름</dt>
        <dd class="col-sm-9">{{ user.full_name }}</dd>

        <dt class="col-sm-3">이메일</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>
    </dl>

    <div>
        <a href="{% url 'accounts:update'%}">내 정보 수정</a><br>
        <a href="{% url 'articles:index'%}">홈으로</a>
    </div>
</div>

{% endblock %}