{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block body%}
<section class="container">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>pk</th>
                <th>영화 제목</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.pk }}</td>
                <td><a href="{% url 'movie:detail' movie.pk %}"></a>{{ movie.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </div>
    </table>
</section>
{% endblock %}