{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body%}
<section class="container ">
    <table class="table text-center">
        <thead class="bg-secondary text-white">
            <tr class="fs-5">
                <th scope="col">pk</th>
                <th scope="col">영화 제목</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.pk }}</td>
                <td><a class="title_a" href="{% url 'movie:detail' movie.pk %}">{{ movie.title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </div>
    </table>
</section>
{% endblock %}