{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
<section class="container">
    <h1 class="fw-bold my-3">작성하기</h1>
    <div class="mb-3">
        <form action="{% url 'movie:create' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form movie_form %}
            <div class="d-grid gap-2">
                {% bootstrap_button content="작성 완료" button_type="submit" button_class="btn-dark" %}
            </div>
        </form>
    </div>
</section>
{% endblock %}