{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block body %}
<section class="container">
  <h1 class="fw-bold my-3">수정하기</h1>
  <form action="" method="POST">
    <div class="d-flex justify-content-end">
      {% csrf_token %}
    </div>
    <div>
      {% bootstrap_form movie_form %}
      <div class="d-grid gap-2">
        {% bootstrap_button content="수정 완료" button_type="submit" button_class="btn-dark" %}
      </div>
    </div>
  </form>
</section>
{% endblock %}