/* 타이틀 */
.title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

/* 버튼 영역 */
.btn-a {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.btn-style {
    box-shadow: 0px 3px 3px;
    padding: 12px 28px;
    font-size: medium;
    border-radius: 5rem;
    background-color: gainsboro;
}
/* 로또 번호 출력 영역 */
.container {
    display: flex;
    justify-content: center;

}
.ball-container {
    display: flex;
    justify-content: center;
    border-top: 2px solid gainsboro;

}

.ball {
    display: inline-block;
    border: 1px solid black;
    /* ball 사이즈 */
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    /* 텍스트 및 범위*/
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 3.2rem;
    margin: .5rem;
    /* 테두리 */
    border: 5px solid;
}

