{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <a href="{% url 'articles:create'%}">작성하기</a>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in articles %}
        <div class="col-3">
            <div class="card text-bg-dark">
                <img src="{{article.image.url}}" class="card-img" alt="{{article.title}}">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{article.content}}</p>
                    <p class="card-text"><small>{{article.create_at}}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}